$block-caption
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 2px
  color: color-grey
  margin-bottom: 1em
  margin-left: 5px
  line-height: 1em
  text-shadow: 0 1px #fff
  font-weight: bold

$block
  background: #fff
  box-shadow: 1px 2px 3px #ddd
  border: 1px solid color-border
  border-radius: 3px

$base-style
  h1
    font-size: 2em
  h2
    font-size: 1.5em
  h3
    font-size: 1.3em
  h4
    font-size: 1.2em
  h5
    font-size: 1em
  h6
    font-size: 1em
    color: color-grey
  hr
    border: 1px dashed color-border
  strong
    font-weight: bold
  em, cite
    font-style: italic
  sup, sub
    font-size: 0.75em
    line-height: 0
    position: relative
    vertical-align: baseline
  sup
    top: -0.5em
  sub
    bottom: -0.2em
  small
    font-size: 0.85em
  acronym, abbr
    border-bottom: 1px dotted
  ul, ol, dl
    margin: 0 20px
    line-height: line-height
  ul, ol
    ul, ol
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: disc
  ol
    list-style: decimal
  dt
    font-weight: bold

.home-media
  // display: flex
  // align-items: center
  margin: 1.5em 0
  background: #ddd
  box-shadow: 0 -1px 4px #ccc inset
  border: 1px solid #ccc
  padding: 15px
  border-radius: 3px
  .media-img
    height: 8em
    padding-left: 0
  .media-heading
    color: #527ED1
    font-size: 1.5em
  .media-subtitle
    color: #777
    font-size: 0.9em
    margin-bottom: 7px
    margin-top: 3px
  .media-desc
    font-size: 1.1em
    color: #333
  .btn
    float: right
    margin-top: 5px

.home-card
  display: none
  .card-title
    display: block
    font-size: 2em
    color: #303030
    text-align: center
    text-decoration: none
  .card-banner
    display: block
    width: 100%
    height: 420px
    background-repeat: no-repeat
    background-size: cover
    background-position: top center
  .card-block
    img
      width: 100%
      max-height: 450px
  .card-subtitle
    font-size: 1.1em
    font-weight: normal
    color: #959595
    text-align: center
    .author
      margin: 0px 7px
      white-space: nowrap
      span
        color: #f4645f
